body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("img/655047.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

.login {
  width: 500px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  box-shadow: 0px 5px 5px rgba(0 0 0/0.5);
  border-radius: 25px;
}
.login img {
  max-width: 35px;
  border: 2px black;
}
.login .fl1 {
  border-radius: 10px;
}
.fl2 {
  font-size: 1.1rem;
}
.fl2 img {
  border-radius: 50%;
}
.note {
  margin-top: -10px;
}
.balas {
  color: #16a085;
  font-weight: 500;
  font-size: 1rem;
  border: 0;
}
.swal-icon {
  max-width: 150px;
}

.emotlucu {
  position: absolute;
  left: 50%;
  display: none;
  animation: 1s emotlucu linear infinite;
}
.btnPesan {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  display: none;
  box-shadow: 0px 5px 5px rgba(0 0 0/0.5);
  position: absolute;
  left: 50%;
  animation: 1s btnPesan linear infinite;
  transform: translateX(-50%) translateY(40px);
}
.btnPesan .badge {
  position: absolute;
  top: -10px;
  right: -10px;

  border-radius: 50%;
  background: red;
  color: white;
}

@keyframes btnPesan {
  0% {
    transform: translateX(-50%) translateY(30px);
  }
  50% {
    transform: translateX(-50%) translateY(40px);
  }
  100% {
    transform: translateX(-50%) translateY(30px);
  }
}
@keyframes emotlucu {
  0% {
    transform: translateX(-50%) translateY(-5px);
  }
  50% {
    transform: translateX(-50%) translateY(5px);
  }
  100% {
    transform: translateX(-50%) translateY(-5px);
  }
}

.peluk {
  min-width: 70px;
}
